@charset "utf-8";
/* CSS of the Project */

/* The Sprite Structure */
ul.sprite {
    list-style: none;
    list-style-type: none;
    background: none;
    overflow: hidden;
    margin: 10px 0;
    padding: 0;
}
ul.sprite li {
    display: block;
    float: left;
    width: 42px;
    margin: 0;
    padding: 0;
    background: none;
}
ul.sprite li a {
    display: block;
    height: 32px;
    width: 32px;
    padding: 0 5px;
    margin: 0;
}
ul.sprite li a span {
    display: block;
    text-indent: -9999px;
    height: 32px;
    width: 32px;
    background-image: url('../ScriptsNuevos/images/animator/sprite.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
ul.sprite li a.twitter span {
    background-position: -32px 0;
}
ul.sprite li a.facebook span {
    background-position: -64px 0;
}

/*Normal Image Structure*/
div.nosprite {
	overflow: hidden;
	margin: 10px auto;
	padding: 0;
}
div.nosprite a {
	display: block;
	float: left;
	padding: 0 5px;
}